@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */




  /* Profiles Page */
  .profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .profile ul {
    display: none;
  }

  /* Profile Page */

  .profile-top img,
  .profile img {
    width: 200px;
    margin: auto;
  }

  .profile-grid {
    grid-template-areas:
      "top"
      "about"
      "exp"
      "edu"
      "github";
  }

  .profile-about .skills {
    flex-direction: column;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  .post {
    grid-template-columns: 1fr;
  }
  .post a,
  .post button {
    padding: 0.3rem 0.4rem;
  }
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.alert-light {
  background: var(--light-color);
  color: #333;
}
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.alert-wrapper {
  position: fixed;
  top: 4rem;
  right: 2rem;
  display: inline-block;
}
.container {

  margin: 2rem;
  padding: 2rem;
  text-align: center;
  border:1px solid black;
  
}
.maincontainer {
  margin: auto;
  overflow: hidden;
  margin-top: 6vh;
  border:1px solid black;
  
  height: 94vh;
  
}
.navbar {
  display: block;
  text-align: center;
  height: 6vh;
  background-color: 		#FFA500;
  color:#333
}
.navbar ul {
  text-align: center;
  justify-content: center;
}

.navbar .welcome {
  display: none;
}


.button {
  font-family: Akzidenz Grotesk BQ Light, Helvetica;
  color: #42494f;
  font-size: 16px;
  outline: none;
  border: initial;
  background-color: 	#FFA500;
  padding: 10px;

border-radius: 20px;

 
}
.button:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

div.logo {
  height: 40px;
  width: 40px;
 
  background-image: url(https://webassets.mongodb.com/_com_assets/cms/google_logo_button-k3uhmqncx5.svg);
  background-size: contain;
  display:inline-block;
  vertical-align: middle;
  border-radius: 50%;
}
.sign-in-text {
  display: inline-block;
  vertical-align: middle;
  padding-left:2vh;
  padding-right: 2vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;

  opacity: 0.9;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: #000000;
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
